{% load static %}

<!-- jequery plugins -->
    <script src="{% static 'portfolio-assets/js/jquery.js' %}"></script>
    <script src="{% static 'portfolio-assets/js/popper.min.js' %}"></script>
    <script src="{% static 'portfolio-assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'portfolio-assets/js/owl.js' %}"></script>
    <script src="{% static 'portfolio-assets/js/wow.js' %}"></script>
    <script src="{% static 'portfolio-assets/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'portfolio-assets/js/appear.js' %}"></script>
    <script src="{% static 'portfolio-assets/js/scrollbar.js' %}"></script>
    <script src="{% static 'portfolio-assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'portfolio-assets/js/nav-tool.js' %}"></script>
    <script src="{% static 'portfolio-assets/js/bxslider.js' %}"></script>


<!-- main-js -->
    <script src="{% static 'portfolio-assets/js/script.js' %}"></script>

