{% load static %}

<!-- BEGIN: Vendor JS-->
<script src="{% static 'admin-assets/app-assets/vendors/js/vendors.min.js' %}"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'admin-assets/app-assets/vendors/js/charts/apexcharts.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/extensions/toastr.min.js' %}"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{% static 'admin-assets/app-assets/js/core/app-menu.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/js/core/app.js' %}"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="{% static 'admin-assets/app-assets/js/scripts/pages/dashboard-ecommerce.js' %}"></script>
<!-- END: Page JS-->

<!-- Portfolio details js  -->
<script src="{% static 'admin-assets/app-assets/vendors/js/pickers/pickadate/picker.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/pickers/pickadate/picker.date.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/pickers/pickadate/picker.time.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/pickers/pickadate/legacy.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Page JS-->
<script src="{% static 'admin-assets/app-assets/js/scripts/forms/pickers/form-pickers.js' %}"></script>


<!-- User Details JS -->
<!-- <script src="{% static 'admin-assets/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/tables/datatable/jszip.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/tables/datatable/pdfmake.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/tables/datatable/vfs_fonts.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/tables/datatable/buttons.html5.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/tables/datatable/buttons.print.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/js/scripts/tables/table-datatables-basic.js' %}"></script> -->

<!-- Add user js -->
<script src="{% static 'admin-assets/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/js/scripts/forms/form-validation.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/js/scripts/components/components-alerts.js' %}"></script>

<!-- sweet alert  -->
<script src="{% static 'admin-assets/app-assets/vendors/js/extensions/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/extensions/polyfill.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/js/scripts/extensions/ext-component-sweet-alerts.js' %}"></script>


<!-- multiple data insert -->

<script src="{% static 'admin-assets/app-assets/js/scripts/forms/form-repeater.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/forms/repeater/jquery.repeater.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'admin-assets/app-assets/js/scripts/forms/form-select2.js' %}"></script>



<script>
w3.slideshow(".e1")
</script>
<script src="{% static 'admin-assets/js/custom.js' %}"></script>
<script src="{% static 'admin-assets/js/admin-custom.js' %}"></script>
<!--end::Javascript-->

